NEXT_SUPABASE_URL= http://123.4.5.6:12345
NEXT_SUPABASE_ANON_KEY=EJEMPLOciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6ImFub24iLCJleHAiOjE5ODM4MTI5OTZ9.CRXP1A7WOeoJeXxjNni43kdQwgnWNReilDMblYTn_I0
NEXT_SUPABASE_DATABASE_URL=postgresql://postgres:postgres@123.4.5.6:12345/postgres
NEXT_SUPABASE_DATABASE_PASS=db_password
NEXT_SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=